/* Default Page css */
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
h6 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

/* Default page-css ended */

/* logo */
.devopsfarm-logo {
  width: 60px;
}

/* header/search-area */

.cloud-search {
  
  width: 30vw;
  height: 35px;
  margin-left: 156px;
  margin-right: 0px;
  border: 1px solid #fff;
  background-color: transparent;
  margin-bottom: 10px;
  color: #fff;
  padding-left: 10px;
  border-radius: none!important;
}
.cloud-search::placeholder {
  padding-left: 10px;
}
.btn-cloud {
  background-color: transparent;
  height:35px;
  padding: 0px 5px 0px 5px;
  margin-left: 0px;
  border: none;
  cursor: pointer;
  border: 1px solid #fff;
  color: #ddd;
  
}
.btn-cloud:hover{
  transition: 1s;
  background-color: #ddd;
  color: #000;
}
header {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  height: 50px;
  padding: 10px 0px 10px 0px;
}

li a {
  padding-right: 10px;
  margin-right: 10px;
  color: #fff !important;
  font-weight: 500;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.suggestions {
 
  position: absolute; 
  background-color: #000;
  border: 1px solid #ddd;
  margin-left: 155px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: calc(77% - 2px); 
  overflow-y: auto;
}



.suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  color: #fff !important;
  padding: 8px;
}

.search-area {
  position: relative; 
}

.suggestions {
  display: none; 
}
.suggestions.show {
  display: block;
}

.btn-link{
  background: none!important;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;

}
/* header/search-area ended */

/* Home page  */
.cloud-div {
  display: flex;
  margin-top: 10px;
}

.cloud-box {
  width: 300px;
  height: 150px;
  border: 2px solid black;
  background-color: yellow;
  padding: 5px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
.cloud-box > p {
  font-size: 1.2rem;
  font-weight: bold;
}
#cloud-count {
  display: block; 
  visibility: visible; 
}
/* home page ended */

/* cloud create form */

/* cloud create form */
.form-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.text-danger {
  color: red;
  font-size: 0.875em; 
  margin-top: -10px; 
  margin-bottom: 10px;
}

.input-border{
border: 1px solid red !important;
}
/* cloud-create form ended */

/* cloud-details area */
table {
  width: 300px;
  height: 500px;
}
a {
  text-decoration: none;

  font-weight: bolder;
}
.action {
  display: flex;
}
.action > p a {
  color: #000 !important;
  margin-right: 10px;
}
table {
  height: 200px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
  font-size: 12px;
}
th {
  background-color: #f2f2f2;
}
.no-results {
  text-align: center;
  padding: 20px;
}
/* cloud-details area ended */

/* error messages */
.flashes {
  list-style-type: none;
  padding: 0;
}

.flash {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.flash.success {
  background-color: green;
}

.flash.warning {
  background-color: red;
}


/* error message area ended */

/* footer-area  */
footer {
  background-color: black;
  color: #ddd;
  margin-top: 10px;
  height: 50px;
}
footer > .copyright {
  text-align: center;
  padding: 10px 0px 10px 0px;
}
/* footer-area ended */

