<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   
</head>
<body>
  <div class="page-wrapper">
      <header class="header d-flex align-items-center justify-content-between">
          <div class="col-lg-4 d-flex align-items-center">
              <a href="{{ url_for('home')}}"><img src="/static/img/devopsfarm-logo.png"  class="devopsfarm-logo" alt="DevOps Farm Logo"></a>
          </div>
          <div class="search-area mt-3 mb-2 col-lg-4 d-flex justify-content-center">
              <form method="POST" action="{{ url_for('search_view') }}" class="w-100">
                  <div class="input-group">
                      <input type="text" class="cloud-search" class="form-control" name="cloudsearch" placeholder="Enter Cloud Name">
                      <button class=" btn-cloud " type="submit">Search</button>
                  </div>
              </form>
          </div>
          <nav class="col-lg-4 d-flex justify-content-end">
              <ul class="nav-icons list-unstyled d-flex mb-0">
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li><a href="{{ url_for('cloud_create') }}">Create Cloud</a></li>
                  <li><a href="{{ url_for('update_cloud') }}">Update Cloud</a></li>
                  <li><a href="{{ url_for('login/logout_cloud') }}">Login/Logout</a></li>
                  <li><a href="{{ url_for('Profile') }}">Profile</a></li>
              </ul>
          </nav>
      </header>

      <main>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  <ul class="flashes">
                      {% for category, message in messages %}
                          <li class="flash {{ category }}">{{ message }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
      </main>

      <footer>
          <p class="copyright">&copy; 2024 DevOps-Farm App. All rights reserved.</p>
      </footer>
  </div>
</body>
</html>
